*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 28);
    color: white;
    font-family: 'poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(28, 28, 73);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(147, 147, 231);
    font-size: 1.01rem;
}

main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}
.left{
    font-size: 1.5rem;
    cursor: pointer;
}
.v{
    font-size: 33px;
}

/* firstsection */
/* firstsection */
/* firstsection */
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 85px 0 40px 0;
    align-items: center;
}
.firstsection > div{
    width: 33%;
}
.leftsection{
    font-size: 2.8rem;
    margin: 70px 0;
}
.mqv{
    font-size: 60px;
}
.leftsection .buttons{
    padding: 50px 0;
}
.leftsection .btn{
    padding: 12px;
    background: #1e2167;
    color: rgb(181, 181, 181);
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.leftsection .btn:hover{
    background: #131542;
    color: white;
}
.rightsection > img{
    width: 80%;
    margin: 40px 0;
}
.mqi{
    display: none;
}
.purple{
    color: rgb(160, 98, 219);
}
#element{
    color: rgb(160, 98, 219);
}

/* secondsection */
/* secondsection */
/* secondsection */
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 75vh;
}
.secondsection h1{
    font-size: 2rem;
}
.text-grey{
    color: gray;
}
.secondsection .box{
    display: flex;
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
.image-top{
    width: 34px;
    position: relative;
    top: -57px;
    left: -9px;
}

.vertical-text{
    position: relative;
    top: 70px;
    width: 130px;
}
.vertical-desc{
    position: relative;
    top: 80px;
    color: gray;
    width: 140px;
    font-size: 10px;
}

/* Third Section */
/* Third Section */
/* Third Section */
.thirdsection{
    padding-top: 90px;
    max-width: 80vw;
    margin: auto;
    height: 65vh;
}
.thirdsection{
    font-size: 1.5rem;
}
.thirdsection .about{
    margin: 10px 0;
    font-size: 16px;
    color: rgb(177, 177, 193);
}
.thirdsection .about-gallary{
    display: flex;
    margin: 30px 0 0 0;
}
.thirdsection .about-gallary .gall-img{
    width: 300px;
    cursor: pointer;
}


/* fourth section */
/* fourth section */
/* fourth section */
.fourthsection{
    padding-top: 90px;
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}
.fourthsection h1{
    font-size: 2.4rem;
}
.fourthsection .services{
    justify-content: space-around;
}
.fourthsection .services .ser-img img{
    margin: 5px;
    border-radius: 60px;
    opacity: 0.7;
    transition: 0.4s;
}
.fourthsection .services .ser-img img:hover{
    border-radius: 50px;
    opacity: 1;
}
.fourthsection .services ul li{
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 20px;
    background-color: #1e2167;
    color: rgb(171, 171, 171);
}
.fourthsection .services ul li:hover{
    background-color: #131542;
    color: white;
}

.fourthsection .services .ser-img{
    display: flex;
    /* margin: 30px 0 0 0; */
}
.fourthsection .services .ser-img img{
    width: 300px;
    cursor: pointer;
}
.fourthsection .services ul{
    display: flex;
    justify-content: space-evenly;
}
.fourthsection .services li{
    justify-content: center;
    list-style-type: none;
    font-size: 16px;
    /* margin: 28px 80px 0 80px; */
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 6px;
    cursor: pointer;
}

/* fifth section */
/* fifth section */
/* fifth section */
.fifthsection{
    padding-top: 90px;
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}
.fifthsection h1{
    font-size: 2.4rem;
}
.fifthsection .projects{
    justify-content: space-around;
}
.fifthsection .projects .pro-img img{
    margin: 5px;
    border-radius: 60px;
    opacity: 0.7;
    transition: 0.4s;
}
.fifthsection .projects .pro-img img:hover{
    border-radius: 50px;
    opacity: 1;
}
.fifthsection .projects ul li{
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 20px;
    background-color: #1e2167;
    color: rgb(171, 171, 171);
}
.fifthsection .projects ul li:hover{
    background-color: #131542;
    color: white;
}
.fifthsection .projects .pro-img{
    display: flex;
    margin: 30px 0 0 0;
}
.fifthsection .projects .pro-img img{
    width: 300px;
    cursor: pointer;
}
.fifthsection .projects ul{
    display: flex;
    justify-content: space-evenly;
}
.fifthsection .projects li{
    justify-content: center;
    list-style-type: none;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 6px;
    cursor: pointer;
}








/* footer */
/* footer */
/* footer */
footer{
    background-color: #0e0e1a;
    height: 40vh;
}
.footer{
    display: flex;
    padding: 105px 122px;
    justify-content: flex-start;
}
.footer .footer-first{
    margin-left: 100px;
}
.footer .footer-second{
    margin-left: 310px;
}
.footer ul{
    list-style: none;
}
.footer ul{
    display: flex;
    justify-content: center;
}
.footer ul li a img{
    width: 50px;
    margin: 0 20px;
}

.footer > div{
    width: 200px;
}
.footer-rights{
    font-size: 13px;
    display: flex;
    justify-content: center;
    color: gray;
    padding: 12px 0;
}



/* ***************  Applying @Media Queries  **************** */
/* ***************  Applying @Media Queries  **************** */
/* ***************  Applying @Media Queries  **************** */
/* ***************  Applying @Media Queries  **************** */
/* ***************  Applying @Media Queries  **************** */
@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(0, 0, 28);
        color: white;
        font-family: 'poppins', sans-serif;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 180px;
        background-color: rgb(28, 28, 73);
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50;
    }
    nav ul{
        display: none;
    }
    main hr{
        width: 120vh;
        border: 0;
        background-color: #9c97f1;
        height: 1.2px;
        margin: 60px 84px;
    }
    .left{
        font-size: 4rem;
        cursor: pointer;
    }
    .v{
        margin-left: 140px;
        font-size: 90px;
    }
    

    /* firstsection */
    /* firstsection */
    /* firstsection */
    .firstsection{
        /* display: flex; */
        /* justify-content: space-around; */
        margin: 170px 180px 40px 180px;
        /* align-items: center; */
        width: 100vh;  
    }
    .firstsection > div{
        width: 87%;
    }
    .rightsection img{
        width: 400px;
    }
    .leftsection{
        z-index: 10;
        font-size: 84px;
    }
    .purple {
        color: rgb(160, 98, 219);
        font-size: 110px;
    }
    .mqv{
        font-size: 160px;
    }
    .rightsection > img{
        display: none;
    }
    .rightsection .mqi{
        opacity: 0.4;
        z-index: 0;
    }

    .leftsection .buttons{
        padding: 10px 100px;
    }
    .leftsection .btn{
        width: 80vh;
        justify-content: center;
        margin: 30px 0;
        padding: 22px;
        background: #1e2167;
        color: rgb(181, 181, 181);
        border: 2px solid white;
        border-radius: 8px;
        font-size: 60px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    /* secondsection */
    /* secondsection */
    /* secondsection */
    .secondsection{
        height: 200vh;
    }
    .secondsection h1{
        margin-left: 100px;
        font-size: 4rem;
    }
    .text-grey{
        margin-left: 100px;
        padding-left: 100px;
        font-size: 1.8rem;
        color: gray;
    }
    .secondsection .box{
        display: inline;
        width: 100vh;
    }
    .vertical-text{
        width: 100%;
        font-size: 50px;
        margin: 0 0 60px 10px;
    }
}